body{
  background-color: #87a7b3;
}

img{
  border-radius: 50%;
}

h1{
  color: #e1f1dd
}

h3{
  color: #e1f1dd
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  height: 0;
  border-width: 5px;
  width: 10%;
}
